@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo a Clínica Veterinária 2 irmãos!</h1>
    <p>VAI CORINTHIANS! <a></a>.</p>
</div>
